@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300;400;700&display=swap");

:root {
  --bg-primary: #0e5e6f;
  --text: #fee8b7;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

header {
  border-bottom: 3px solid black;
  background-color: var(--bg-primary);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Pacifico", cursive;
}

.gameOver,
.win {
  display: none;
  z-index: 1;
  position: absolute;
  top: 30%;
  left: 40%;
  border: 1px solid black;
  border-radius: 0.5rem;
  width: 30%;
  text-align: center;
  padding: 1rem;
  background-color: white;
}

.gameOver p,
.win p {
  margin-bottom: 1rem;
}

.gameOver img,
.win img {
  width: 100%;
}

.gameOver button,
.win button {
  border: none;
  padding: 1rem;
  background-color: #ef9a53;
}

.gameOver button a,
.win button a {
  text-decoration: none;
  color: white;
}

.rotate {
  width: 100px;
  height: 100px;
  -webkit-animation: rotate 2s linear infinite;
  -moz-animation: rotate 2s linear infinite;
  -ms-animation: rotate 2s linear infinite;
  -o-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--text);
}

.dresseur {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nbError {
  width: 30%;
  border-top: 1px solid black;
  border-right: 1px solid black;
  padding: 1rem;
  text-align: end;
}

.mot {
  text-align: center;
}

#hiddenmot {
  font-size: 2em;
}

.pendu {
  text-align: end;
}

.pendu img {
  width: 200px;
}

.texte_pendu {
  margin: 0 2rem;
  padding: 2rem;
  text-align: center;
  border: 1px solid black;
}

.accueil {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 3rem;
  height: 100%;
  background-image: url("img/bg.jpg");
  background-position: center;
  background-size: cover;
}

.accueil button {
  cursor: pointer;
  padding: 2rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--bg-primary);
  color: var(--text);
  font-weight: bold;
}

.btnCliked {
  opacity: 0.5;
}

.clavier {
  margin: auto;
  width: 525px;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.clavier button {
  background-color: var(--bg-primary);
  color: var(--text);
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  border: 3px solid black;
}

.game,
.bloc_bas {
  display: none;
  margin: 1rem;
}

.game,
.bloc_bas {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
footer {
  background-color: var(--bg-primary);
  color: var(--text);
  padding: 1rem;
  border-top: 3px solid black;
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }

  50% {
    -webkit-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 0.3;
  }

  70% {
    opacity: 0.5;
  }

  80% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}
